<address>
    <strong>&copy; @DateTime.Now.Year</strong> - Holmager.dk  <br />
    <strong>Support:</strong> <a href="mailto:Support@holmager.dk">Support@holmager.dk</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@holmager.dk">Marketing@holmager.dk</a><br />
    <strong>Discord Server:</strong> <a href="https://discord.gg/BsUCWDU">Link</a>
</address>