@{
    ViewBag.Title = "Holmager.dk";
}

<div class="jumbotron header-img">
    <div class="headertext">
        <h1>Holmager.dk</h1>
        <h2>Under construction</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Surveys</h2>
    </div>
    <div class="col-md-4">
        <h2>Data Analysis</h2>
    </div>
    <div class="col-md-4">
        <h2>Health Applications</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>System Design</h2>
    </div>
    <div class="col-md-4">
        <h2>Software Development</h2>
    </div>
    <div class="col-md-4">
        <h2>Database Creation</h2>
    </div>
</div>